<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/moonknight.jpg" alt="">
        </div>
        
        {{!-- <h1>{{title}}</h1> --}}
        
        {{!-- <img class="gif" src="https://i.pinimg.com/originals/c3/a9/a8/c3a9a87ed744873864ffbf67922ec014.gif" alt=""> --}}
        {{!-- <p>Created by {{name}}</p> --}}
        {{>footer}}
    </body>
</html>