<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="help-text">{{helpText}}</p>
            <p>Features</p>
            <ul>
                <li>Real-time weather updates</li>
                <li>Temperature, humidity, and wind speed</li>
                <li> Search for any city worldwide</li>    
                <li>Simple and user-friendly design</li>    
            </ul>
        </div>
        
        {{>footer}}
    </body>
</html>