{{!-- by default name the folder name = views but if not rename it as template and use pathjoin to adjust it
and is done in src/app.js --}}

<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="intro-text">Your weather, your way—stay prepared, rain or shine!</p>
            
            <form action="">
                <input placeholder="Enter a location" type="text">
                <button>Search</button>
            </form>

            <div id="weatherCard">
                <p id="message-1"></p>
                <p id="message-2"></p>
                <img id="weatherIcon" src="" alt=""/>
            </div>
            
            {{!-- <img class="weather-gif" src="https://cdn.dribbble.com/userupload/19513647/file/original-39f618b6373ffe558829e1e3dad570a2.gif" alt=""> --}}
        </div>
        
        {{!-- <h1>{{title}}</h1> --}}
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>